<div class="row">
  <div class="col-md-6 col-md-offset-3">

          <%= form_for(@owner, :html => {class: "form-horizontal", role: "form"}) do |f| %>
           <div class="form-group">
             <div class="control-label col-md-2">
                <%= f.label :name %> 
             </div>
             <div class="col-md-8">
               <%= f.text_field :name, class: 'form-control', placeholder: "Name", autofocus: true %>
             </div>
           </div>
          
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <%= f.submit class: "btn btn-primary" %>
               <%= link_to "Owners", owners_path, class: "btn btn-primary" %> 
            </div>
          </div>
        <% end %>
      </p>
  </div>
</div>