<div class="container">
  <div class="row">
    <h1 align="center">Owners</h1>
    <h3 align="center">User: <%= current_user.name %> <%= "(Admin)" if current_user.admin? %></h3>
    <div align="center">
        <p>
            <%= link_to "Create a To Do", new_todo_path, class: "btn btn-success" %>
            <%= link_to "log Out", login_path, method: :delete, class: "btn btn-danger fancy" %>
            <%= link_to "Todo List", todos_path, class: "btn btn-primary" %>
            <%= link_to "My Profile", user_path(current_user), class: "btn btn-warning" %>
        </p>
          <table class="row center">
            <tr>
              <th align="center">Owner Name</th>
            </tr>
            <% @owners.each do |owner| %>
              <tr class ="well profile-black-white-thin row <%= cycle('profile-black-white-thin-b', '') %>">
                <td class="texties tabtext"><%= link_to owner.name.capitalize, owner_path(owner) %></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>