<div class="container">
  <div class="row">
    <h1 align="center"><%= current_user.name %>'s to do List</h1>
    <div align="center">
        <p>
          <%= link_to "Create a To Do", new_todo_path, class: "btn btn-success" %>
          <%= link_to "log Out", login_path, method: :delete, class: "btn btn-danger" %>
          <td><%= link_to "Users", users_path(@users), class: "btn btn-primary bttn" %></td>
        </p>
           <div align="center">
             <% @todos.each do |todo| %>
             <div class="col-md-8 col-md-offset-2 well profile-black-white-thin row "<%= cycle('profile-black-white-thin-b', '') %>>
               <p>Todo: <%= todo.name %></p>
               <p>Description: <%= todo.description %></p>
               <p>Owner: <%= render todo.owners %></p>
               <%= link_to "View", todo_path(todo), class: "btn btn-info bttn" %>
                <% if logged_in? && (current_user == todo.user || current_user.admin?) %>
                  <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-warning bttn" %>
                  <%= link_to "Delete", todo_path(todo), method: :delete, data: {confirm: "Are you sure??"}, 
                                                                      class: "btn btn-danger bttn" %>
                <% end %>
             </div>
           <% end %>
        </div>
    </div>
  </div>
</div>